@inject IViewLocalizer Localizer
<!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">test CallCenter<span class="hidden-xs"> - @Localizer["Web Application Framework"]</span> &copy; 2017-2019</span>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->
